<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Leg Routine</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">

<div class="header">
  <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://i.guim.co.uk/img/media/658505caaecacb623bf0ec3b4f5fd19284f2e00c/0_1659_3840_3725/master/3840.jpg?width=300&quality=85&auto=format&fit=max&s=e6394f4be76f22371dabbaa0c950c03f" alt="Squat" width="140" height="116" class="b">

<div class="center">
  <h3>
  Leg Routine</h3>

</div>
</div>

<ul>
  <li>Squat for 20 minutes</li>
  <iframe width="560" height="315" src="https://youtube.com/embed/aclHkVaku9U" frameborder="0" allowfullscreen></iframe>
  <li>Deadlift for 15 minutes</li>
  <iframe width="560" height="315" src="https://youtube.com/embed/r4MzxtBKyNE" frameborder="0" allowfullscreen></iframe>
  <li>Leg curl for 20 minutes</li>
  <iframe width="560" height="315" src="https://youtube.com/embed/ELOCsoDSmrg" frameborder="0" allowfullscreen></iframe>
  <li>Leg press for 15 minutes</li>
  <iframe width="560" height="315" src="https://youtube.com/embed/IZxyjW7MPJQ" frameborder="0" allowfullscreen></iframe>
  <li>Calf raises for for 15 minutes</li>
  <iframe width="560" height="315" src="https://youtube.com/embed/JbyjNymZOt0" frameborder="0" allowfullscreen></iframe>
</ul>

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <a href="calendar"><i class="fa fa-calendar"></i></a>
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>